* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: 0.2s linear;
	list-style: none;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	background: var(--bg-color);
	padding-left: 30rem;
	&.active {
		--red: #fff;
		--light-color: #ddd;
		--bg-color: #6fa7ff;
		--black: #000;
		--border: 0.1rem solid rgba(0, 0, 0, 0.4);
		--box-shadow: 0.4rem 0.4rem 1rem #41f1f3, -0.4rem -0.4rem 1rem #406666;
		--box-shadow-inset: 0.4rem 0.4rem 1rem #41f1f3 inset, -0.4rem -0.4rem 1rem #406666 inset;
	}
}
section {
	min-height: 100vh;
	padding: 2rem;
}
.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem 3.5rem;
	border-radius: 0.5rem;
	font-size: 1.7rem;
	cursor: pointer;
	background: none;
	color: var(--red);
	box-shadow: var(--box-shadow);
	&:hover {
		box-shadow: var(--box-shadow-inset);
	}
}
.heading {
	text-align: center;
	font-size: 5rem;
	color: var(--red);
	text-transform: uppercase;
	padding-bottom: 2rem;
	span {
		color: var(--black);
		text-transform: uppercase;
	}
}
